{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
        <style>
            #divlogin {
                height: 3em;
                background-color: black;
                text-align: right; 
                padding-right: 2em;
            }
            #spanlogin {
                color: aqua;

            }
        </style>
    </head>
    <body>
        <div id="divbanner">
            <img src="{% static 'encyclopedia/images/banner_sismologico.jpg' %}" alt="Escudos de la UASD y el CNS" width="100%">
        </div>
        {% if user.is_authenticated %}
            <div id="divlogin" >
                <span id="spanlogin">Logged: {{ user }}</span><br>
                <span><a href="{% url 'ency:logout' %}">Logout</a><span>
            </div>
        {% else %}
            <div id="divlogin" >
                <span id="spanlogin"> Not Logged </span>  <br>
                <a href="{% url 'ency:login' %}">Loguearse aqui</a>
            </div>
        {% endif %}

        <div class="row">
            
            <div class="sidebar col-lg-2 col-md-3">
                <h2>Wiki-CNS</h2>
                 <form action="{% url 'ency:buscar' %}" method="post">
                    {% csrf_token %}
                    <!-- {{ form.as_p }} -->
                    <label for="procedimiento">Procedimiento</label>
                    <input type="text" id="procedimiento" name="procedimiento">
                    <input type="submit" value="aceptar">
                </form>
                <hr>
                <div>
                    <a href="{% url 'ency:index' %}">Home</a>
                </div>
                {% if user.is_authenticated %}
                <div>
                    <a href="{% url 'ency:new_page' %}">Nuevo Procedimiento</a>
                </div>
                {% endif %}
                <div>
                    <a href="{% url 'ency:random_page' %}">Procedimiento Random</a>
                </div>
                {% block nav %}
                {% endblock %}
                
            </div>
            
            <div class="main col-lg-10 col-md-9">
                {% block body %}
                {% endblock %}
            </div>
        </div>

    </body>
</html>
