<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #form_login {
            font-size: 2em;
            /* max-width: 15em; */

            width: 15em;
            height: 60em;
        }
        div {
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
    <div>
        {% if error %}
            <form id = 'form_login' action="{% url 'ency:login' %}" method="post">
                {% csrf_token %}
                <fieldset>
                    <legend>Ingrese sus datos:</legend>
                    <label for="fusername">Username:</label>
                    <input type="text" id="fusername" name="fusername" value = '{{ username }}'><br><br>
                    <label for="fpassword">Password:</label>
                    <input type="text" id="fpassword" name="fpassword" value = '{{ password }}'><br><br>
                    <input type="hidden" name="fprevia" value="{{ previa }}" >
                    <input type="submit" value="Submit">
                
                </fieldset>
                <span><strong>{{ error }}</strong></span>
            </form>
            
        {% else %}
            <form id = 'form_login' action="{% url 'ency:login' %}" method="post">
                {% csrf_token %}
                <fieldset>
                    <legend>Ingrese sus datos:</legend>
                    <label for="fusername">Username:</label>
                    <input type="text" id="fusername" name="fusername" ><br><br>
                    <label for="fpassword">Password:</label>
                    <input type="password" id="fpassword" name="fpassword"><br><br>
                    <input type="hidden" name="fprevia" value="{{ previa }}" >
                    <input type="submit" value="Submit">

                </fieldset>
            </form>
        {% endif %}
        
            
    </div>
</body>
</html>